/* ------------------- */
/* Colors              */
/* ------------------- */
$black: hsl(0, 0%, 0%);
$white: hsl(0, 0%, 100%);

/* ------------------- */
/* Font Path           */
/* ------------------- */
$fonts-path: "../fonts" !default;

/* ------------------- */
/* Image Path          */
/* ------------------- */
$images-path: "../images" !default;

/* ------------------- */
/* Convert px to rem   */
/* ------------------- */
$base-rem: 16 !default;
