.single-article {
  margin-top: 44px;

  &-header {
    display: flex;
    flex-direction: column;
    gap: 16px;

    @media (min-width: 768px) {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      gap: 0;
    }

    &__search {
      display: flex;
      align-items: center;
      width: 100%;
      height: 50px;
      padding-left: 23px;
      background-color: #fafafa;
      border: 1px solid #ececec;
      border-radius: 2px;

      @media (min-width: 768px) {
        width: 60%;
      }

      @media (min-width: 992px) {
        width: 650px;
      }

      > input {
        width: 100%;
        height: 100%;
        padding-inline: 12.4px;
        border: 0;
        background-color: #fafafa;

        &:focus {
          outline: 0;
        }

        &::placeholder {
          font-weight: 400;
          font-size: 14px;
          line-height: 19px;
          color: #001d37;
          opacity: 0.4;
        }
      }
    }

    &__blogs {
      position: relative;

      > button {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 40px;
        padding-left: 20px;
        padding-right: 18px;
        border: 0;
        border-radius: 4px;
        background-color: #f1f2f6;
        border: 1px solid #edf1f5;

        @media (min-width: 768px) {
          width: 180px;
        }

        span {
          font-size: 14px;
          line-height: 14px;
          letter-spacing: 0.4375px;
          color: #666666;
        }
      }

      .single-article-header-items {
        display: none; // TODO: remove
        position: absolute;
        top: 45px;
        right: 0;
        width: 340px;
        min-height: 304px;
        border-radius: 6px;
        background-color: rgba(255, 255, 255, 0.92);
        backdrop-filter: blur(4.07742px);
        box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;

        &__top {
          display: flex;
          align-items: center;
          gap: 15px;
          padding-top: 24px;
          padding-left: 24px;
          padding-bottom: 16px;
          border-bottom: 1px solid #dddddd;
        }

        &__bottom {
          display: flex;
          flex-wrap: wrap;
          row-gap: 15px;
          padding-top: 18px;
          padding-left: 24px;
          padding-bottom: 24px;

          > div {
            width: 50%;
            display: flex;
            align-items: center;
            gap: 15px;
          }
        }
      }
    }
  }

  &__cards {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    row-gap: 31px;
    margin-top: 25px;
  }

  &-card {
    width: 100%;
    height: fit-content;
    border-radius: 6px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

    @media (min-width: 768px) {
      width: 49%;
      height: 471px;
    }

    @media (min-width: 992px) {
      width: 32.51%;
    }

    > img {
      width: 100%;

      @media (min-width: 768px) {
        width: auto;
      }
    }

    &__content {
      display: flex;
      flex-direction: column;
      align-items: self-start;
      justify-content: space-between;
      height: 252px;
      padding: 18px 15px 32px;

      @media (min-width: 992px) {
        padding: 18px 32px 32px;
      }

      > span {
        font-weight: 600;
        line-height: 22px;
        letter-spacing: 0.18px;
        color: #0082e6;
        text-transform: uppercase;
      }

      > h3 {
        font-weight: 600;
        font-size: 24px;
        line-height: 31px;
        letter-spacing: 0.72px;
        color: #222222;
      }

      > p {
        font-size: 20px;
        line-height: 28px;
        letter-spacing: 0.6px;
        color: #666666;
      }
    }
  }
}

.blog-checkbox {
  width: 24px;
  height: 24px;
  background: #007ee7;
  border: 1px solid #007ee7;
  border-radius: 4px;
}

.blog-title {
  letter-spacing: 0.5px;
  color: #222222;
}
